<!DOCTYPE html>
<html lang="en">
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template(~{:: .uk-section})}">-->
<head>
    <meta charset="UTF-8">
    <title>Kolekcje militariów</title>
    <style type="text/css">
        /*body {background: #EED; margin: 1em;}*/
        body {background: #FFFFDD; margin: 1em;}
        div#footer {clear: both; padding-top: 3em;
            font: 85% Verdana, sans-serif;}
        div.pic {float: left; height: 380px; width: 260px;
            padding: 0 15px; margin: 5px 3px;}
        div.pic img {border: 1px solid; border-color: #444 #AAA #AAA #444;}
        div.ls img {height: 192px; width: 256px; margin: 64px 0 0;}
        div.pt img {height: 256px; width: 192px; margin: 0 32px;}
        div.pic ul {margin: 0.25em 0 0; padding: 0;
            font: bold small Arial, Verdana, sans-serif;}
        li.title, li.catno {display: block; text-align: center;}
    </style>
</head>
<body>
<div class="uk-text-center"><h1 class="uk-article-title uk-text-center">Kolekcje militariów</h1></div>
<br><br>
<div class="pic pt"><a href="orig/bimg01.jpg" class="tn"><img src="tn/img01.jpg"></a><ul>
    <li class="title">Królewskie Muzeum Broni w Leeds</li>
    <li class="catno">Wieża -lewa strona</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg02.jpg" class="tn"><img src="tn/img02.jpg"></a><ul>
    <li class="title">Królewskie Muzeum Broni w Leeds</li>
    <li class="catno">Wieża -prawa strona</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg03.jpg" class="tn"><img src="tn/img03.jpg"></a><ul>
    <li class="title">Królewskie Muzeum Broni w Leeds</li>
    <li class="catno">Zbroja królewska</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg04.jpg" class="tn"><img src="tn/img04.jpg"></a><ul>
    <li class="title">Królewskie Muzeum Broni w Leeds</li>
    <li class="catno">Turniejowa zbroja rycerska</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg05.jpg" class="tn"><img src="tn/img05.jpg"></a><ul>
    <li class="title">Królewskie Muzeum Broni w Leeds</li>
    <li class="catno">Zbroja samuraja</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg06.jpg" class="tn"><img src="tn/img06.jpg"></a><ul>
    <li class="title">Królewskie Muzeum Broni w Leeds</li>
    <li class="catno">Rynsztunek słonia bojowego</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg07.jpg" class="tn"><img src="tn/img07.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Karabiny skałkowe i kapiszonowe</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg08.jpg" class="tn"><img src="tn/img08.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Karabiny samopowtarzalne</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg09.jpg" class="tn"><img src="tn/img09.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Stumgewehr 44 i AK 47</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg10.jpg" class="tn"><img src="tn/img10.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Bagnety I WŚ</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg11.jpg" class="tn"><img src="tn/img11.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Karabin maszynowy SG-43</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg12.jpg" class="tn"><img src="tn/img12.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Karabin maszynowy Maxim wz. 1910</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg13.jpg" class="tn"><img src="tn/img13.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Bagnety - 19 wiek</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg14.jpg" class="tn"><img src="tn/img14.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Bagnety - 19 wiek i I WŚ</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg15.jpg" class="tn"><img src="tn/img15.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Bagnety - I WŚ</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg16.jpg" class="tn"><img src="tn/img16.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Pistolet maszynowy PPSz WZ 41</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg17.jpg" class="tn"><img src="tn/img17.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Pistolet maszynowy MP-40 "Schmeisser"</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg18.jpg" class="tn"><img src="tn/img18.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Kolekcja hełmów</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg19.jpg" class="tn"><img src="tn/img19.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szable używane po roku 1945 w WP</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg20.jpg" class="tn"><img src="tn/img20.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szabla szeregowego kawalerii WZ 21/22</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg21.jpg" class="tn"><img src="tn/img21.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szabla podoficerska WZ 21/22</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg22.jpg" class="tn"><img src="tn/img22.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szabla oficerska WZ 21/22</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg23.jpg" class="tn"><img src="tn/img23.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szable rosyjskie używane w WP. Okres międzywojenny</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg24.jpg" class="tn"><img src="tn/img24.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szable okres międzywojenny używane w WP</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg25.jpg" class="tn"><img src="tn/img25.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szabla oficera kawalerii, WZ 1917</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg26.jpg" class="tn"><img src="tn/img26.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szabla polska, oficerska. Wiek XVIII</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg27.jpg" class="tn"><img src="tn/img27.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szabla polska. Druga połowa XVIII wieku</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg28.jpg" class="tn"><img src="tn/img28.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szable polskie. XVII i XVIII wiek</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg29.jpg" class="tn"><img src="tn/img29.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szabla polska z głownią perską</li>
</ul></div>
<div class="pic pt"><a href="orig/bimg30.jpg" class="tn"><img src="tn/img30.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Szabla polska. II połowa XVIII wieku. Kościuszkowska.</li>
</ul></div>
<div class="pic ls"><a href="orig/bimg31.jpg" class="tn"><img src="tn/img31.jpg"></a><ul>
    <li class="title">Arsenał Miejski Wrocław</li>
    <li class="catno">Lance kawaleryjskie</li>
</ul></div>

<div id="footer">
    All images Copyright &copy; Witold Matusiński.  All rights reserved.
</div>

</body>
</html>