<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template(~{:: .uk-section})}">
<head>

</head>
<body>

<div class="uk-section">
    <div class="uk-container uk-container-small">
        <h2 class="uk-heading-bullet">Zarejestruj się i dołącz do nas</h2>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <h3 class="uk-card-title"></h3>
            <p><span></span></p>
            <p></p>
        </div>
        <form class="uk-grid-small uk-margin" uk-grid method="post" metod="POST" th:href="@{/register}" th:object="${profile}">
            <div class="uk-width-1-2">
                <input class="uk-input" type="text"  placeholder="Profil użytkownika" th:field="*{userName}">
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="text" placeholder="Login" th:field="*{loginName}">
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="password" placeholder="Hasło" th:field="*{password}">
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="password" placeholder="Powtórz hasło">
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="text" placeholder="Adres email" th:field="*{addressEmail}">
            </div>
            <div class="uk-width-1-1">
                <input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="Rejestracja">
            </div>
        </form>
    </div>
</div>


</body>
</html>