<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template(~{:: .uk-section})}">
<head>
    <script src="\static\js\email-validation" th:inline="javascript"></script>
</head>
<body>

<div class="uk-section">
    <div class="uk-container uk-container-small">
        <h2 class="uk-heading-bullet">Zarejestruj się i dołącz do nas</h2>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
            <h3 class="uk-card-title"></h3>
            <p><span></span></p>
            <p></p>
        </div>

        <form class="uk-grid-small uk-margin" uk-grid method="post" metod="POST" th:href="@{/register}" th:object="${userModel}">
            <div class="uk-width-1-2">
                <input class="uk-input" type="text"  placeholder="Profil użytkownika" th:field="*{userProfile}"
                       th:errorclass="uk-form-danger">
                <span th:if="${#fields.hasErrors('userProfile')}" class="uk-text-small uk-text-danger">
                    Profil powinien mieć długość od 5 do 15 znaków
                </span>
                <span class="uk-text-small uk-text-danger" th:text="${errorProfile}"></span>
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="text" placeholder="Login" th:field="*{username}"
                       th:errorclass="uk-form-danger">
                <span th:if="${#fields.hasErrors('username')}" class="uk-text-small uk-text-danger">
                    Login powinien mieć długość od 5 do 15 znaków
                </span>
                <span class="uk-text-small uk-text-danger" th:text="${errorLogin}"></span>
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="password" placeholder="Hasło" th:field="*{password}"
                       th:errorclass="uk-form-danger">
                <span th:if="${#fields.hasErrors('password')}" class="uk-text-small uk-text-danger">
                    Hasło powinno mieć długość od 5 do 30 znaków
                </span>
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="password" placeholder="Powtórz hasło" th:field="*{rePassword}"
                       th:errorclass="uk-form-danger">
                <span class="uk-text-small uk-text-danger" th:text="${errorPassword}"></span>
            </div>
            <div class="uk-width-1-2">
                <input class="uk-input" type="text" placeholder="Adres email" th:field="*{addressEmail}"
                       th:errorclass="uk-form-danger">
                <span th:if="${#fields.hasErrors('addressEmail')}" class="uk-text-small uk-text-danger">
                    Wprowadź poprawny adres email
                </span>
            </div>
            <div class="uk-width-1-1">
                <input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="Rejestracja">
            </div>
        </form>
    </div>
</div>


</body>
</html>